.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time{
  font-size: 8rem;
  color:aliceblue;
}

.startstopbutton{
  align-self: stretch;
  color: aliceblue;
  font-size: 2rem;
  height:50px;
}
.updowncontiner{
  display: flex;
  width:100%;
  justify-content: space-evenly;
}

.updown{
  font-size: 1.3rem;
}

.start{
  background-color:rgb(98, 178, 98);

}

.stop{
  background-color: red;

}